@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red-input-errors: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

/* Cards */

.cards {
    background-image: url('./images/bg-main-mobile.png');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 35px 15px 45px 15px;
    position: relative;
}

.back-card {
    position: relative;
    justify-self: flex-end;
}

.cvc {
    position: absolute;
    top: 66px;
    right: 35px;
    color: var(--Light-grayish-violet);
}

.front-card {
    position: absolute;
    left: 15px;
    bottom: -45px;
}

.front-card-content {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    color: var(--Light-grayish-violet);
    bottom: 0;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-number {
    word-spacing: 22.5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.cards img {
    max-width: 285px;
    width: 100%;
}

/* form */

form {
    padding: 90px 25px 45px 25px;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.form-input label {
    width: 100%;
    margin-bottom: 10px;
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    font-weight: 500;
}

.form-input input {
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    border: 2px solid var(--Light-grayish-violet);
    font-weight: 500;
}

input::placeholder {
    color: var(--Light-grayish-violet);
    font-weight: 500;
}

input[type=submit] {
    background-color: var(--Very-dark-violet);
    color: var(--Light-grayish-violet);
    font-weight: 500;
}

/* Form date */

.form-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-date input {
    max-width: 48%;
    width: 100%;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-bottom > div {
    width: 100%;
    max-width: 48%;
}

#error {
    color: red;
    font-size: 12px;
}

/* ###### Media Breakpoint 375px ######## */

@media (min-width: 1024px) {

    body {
        height: 100vh;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .cards {
        height: 100%;
        background-image: url('./images/bg-main-desktop.png');
        width: 30%;
    }

    .form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    form {
      width: auto;
      
    }

    .front-card {
        position: relative;
        order: 3;
        left: 0;
        bottom: 0;
        left: 90px;
        margin-bottom: 80px;
        transform: scale(1.3);
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
        /* right: -90px; */
    }
    
    .cards img {
        height: 100%;
    }
    
    .back-card {
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        order: 4;
        left: 0;
        bottom: 0;
        left: 180px;
        transform: scale(1.3);
    }

    .card-details {
        font-size: 10px;
    }

    .card-number {
        word-spacing: 1.4vw;
    }

    .attribution {
        font-size: 18px;
    }
}